<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="http://www.ucsc.edu" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="https://my.ucsc.edu">MyUCSC</a></li>
        <li class="nav-link"><a href="http://www.ucsc.edu/tools/people.html">People</a></li>
        <li class="nav-link"><a href="http://www.ucsc.edu/tools/calendars.html">Calendars</a></li>
        <li class="nav-link"><a href="http://www.ucsc.edu/tools/azindex.html">A-Z Index</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" action="http://www.ucsc.edu/search">
          <input name="cx" type="hidden" value="012090462228956765947:d0ywvq7bxee">
          <input name="cof" type="hidden" value="FORID:9">
          <input name="ie" type="hidden" value="UTF-8">
          <input id="q" name="q" type="search" placeholder="Search UCSC">
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
