<header class="site-header">

<a href="http://www.ucsc.edu" class="logo">UC Santa Cruz</a>

<ul id="topNav">
  <li><a href="https://my.ucsc.edu">MyUCSC</a></li>
  <li><a href="http://www.ucsc.edu/tools/people.html">People</a></li>
  <li><a href="http://www.ucsc.edu/tools/calendars.html">Calendars</a></li>
  <li><a href="http://www.ucsc.edu/tools/azindex.html">A-Z Index</a></li>
</ul>

<div class="search" role="search">
  <form action="http://www.ucsc.edu/search" id="cse-search-box">
    <input name="cx" type="hidden" value="012090462228956765947:d0ywvq7bxee">
    <input name="cof" type="hidden" value="FORID:9">
    <input name="ie" type="hidden" value="UTF-8">
    <label class="hide" for="q">Search</label>
    <input class="query" id="q" name="q" type="text" value="Search UCSC">
  </form>
</div>

</header>
